.DS_Store
Test desktop fonts*/
Test web fonts*/
index copy*.html

# dependencies
node_modules/
.pnp
.pnp.*

# next.js
.next/
out/
next-env.d.ts

# build artifacts
build/
dist/

# env
.env*.local
.env

# typescript
*.tsbuildinfo

# vercel
.vercel
